/* For mobile phones */
@media (max-width: 767px) {
    .landing_height {
        height: 50vh;
        /* width: 100%; */
    }
    .home_about_row{
      display: block;
    }
    .myAvtar{
      width: 100%;
    
    }
    .home-about-description{
      width: 100%;
    }
    .home-about-section{
      height: 100%;
    }
    .project-section{
      height: 100%;
    }
   .social-menu p{
    display: none;
   }
   .home-about-social{
  
   }
  } 
  
  
  /* For tablets */
  @media (min-width: 768px) and (max-width: 1024px) {
    .landing_height{
      height: 70vh;
    }
    .home_about_row{
      display: block;
    }
    .myAvtar{
      width: 100%;
    
    }
    .home-about-description{
      width: 100%;
    }
    .home-about-section{
      height: 100%;
    }
    .tech-icons {
     padding: 5px 0px 5px 0px;
      
    }
    .project-section{
      height: 100%;
    }
    social-menu p{
      display: none;
    }
  
  }
  @media (max-width:1200px) {
    .project-section{
      height: 100%;
    }
    .home-about-section{
      height: 100%;
    }
  }
  

